@import"https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";

:root {
    --primaryColor: hsl(354, 78%, 60%);
    --buttonColor: hsl(0, 0%, 17%);
    --buttonColorHover: hsl(0, 0%, 21%);
    --cardColor: hsl(0, 0%, 90%);
    --titleColor: hsl(0, 0%, 15%);
    --textColor: hsl(0, 0%, 35%);
    --textColorLight: hsl(0, 0%, 55%);
    --bodyColor: hsl(206, 4%, 97%);
    --containerColor: hsl(0, 0%, 100%);
    --borderColor: hsl(0, 0%, 94%);
}

body.dark-theme {
    --primaryColor: hsl(182, 53%, 74%);
    --buttonColor: : hsl(246, 16%, 12%);
    --buttonColorHover: hsl(0, 0%, 28%);
    --cardColor: hsla(246, 16%, 5%);
    --titleColor: hsl(0, 0%, 95%);
    --textColor: hsl(0, 0%, 75%);
    --bodyColor: hsl(249, 19%, 14%);
    --containerColor: hsl(246, 16%, 12%);
    --borderColor: hsl(0, 0%, 20%)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--containerColor);
}

body::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 8px;
}

/* ---------------- GLOBAL ----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1024px;
    margin: auto;

}



/* ----------------- NAVBAR ---------------------- */
.header {
    background-color: transparent;
    height: 3rem;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-weight: 550;
    color: var(--titleColor);
}

.logo svg {
    width: 40px;
    fill: var(--primaryColor)
}

.navbar__ul {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.navbar__ul li {
    font-size: 1.5rem;
    color: var(--title-color)
}

.navbar__icon {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--title-color);
    user-select: none;
    display: flex;
    gap: .5rem
}

#iconShowCart {
    position: relative;
}

.productsInCart {
    position: absolute;
    top: 12px;
    right: -5px;
    width: 16px;
    height: 16px;
    background-color: var(--titleColor);
    color: var(--cardColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    border-radius: 50%;
    font-weight: bold
}

/* ------------- MAIN ------------ */

.main {
    padding: 0rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem
}

.presentation_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.presentation_header_img {
    background-color: var(--primaryColor);
}